version: "3.7"

services:
  social-release:
    image: omab/social-auth-release
    build:
      context: .
      dockerfile: ./files/release/Dockerfile
    environment:
      - PROJECT_NAME=social-app-django
      - PROJECT_DIR=social_django
    env_file:
      - ./files/local.env
    volumes:
      - .:/code

  social-tests:
    image: omab/social-auth-tests
    build:
      context: .
      dockerfile: ./files/tests/Dockerfile
      args:
        - PYTHON_VERSIONS=3.6.12 3.7.9 3.8.7 3.9.1
    environment:
        - PYTHON_VERSIONS=3.6.12 3.7.9 3.8.7 3.9.1
    volumes:
      - .:/code
