name: Release

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5.4.2

    - run: uv build

    - name: Verify wheel install
      run: |
        uv venv .venv-install-whl
        source .venv-install-whl/bin/activate
        uv pip install dist/*.whl

    - name: Verify source install
      run: |
        uv venv .venv-install-tar
        source .venv-install-tar/bin/activate
        uv pip install dist/*.tar.gz

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
      with:
        name: dist
        path: |
          dist/*.tar.gz
          dist/*.whl

    - run: uvx twine check dist/*
    - run: uvx pydistcheck --inspect dist/*
    - run: uvx pyroma dist/*.tar.gz
    - run: uvx check-wheel-contents dist/*.whl
    - run: uvx check-manifest -v

    - if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
      run: uv publish --trusted-publishing always
