name: Release

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7.3.1

    - run: uv build

    - name: Verify wheel install
      run: |
        uv venv .venv-install-whl
        source .venv-install-whl/bin/activate
        uv pip install dist/*.whl

    - name: Verify source install
      run: |
        uv venv .venv-install-tar
        source .venv-install-tar/bin/activate
        uv pip install dist/*.tar.gz

    - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
      with:
        name: dist
        path: |
          dist/*.tar.gz
          dist/*.whl

    - run: uvx twine check dist/*
    - run: uvx pydistcheck --inspect dist/*
    - run: uvx pyroma dist/*.tar.gz
    - run: uvx check-wheel-contents dist/*.whl
    - run: uvx check-manifest -v

    - if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
      run: uv publish --trusted-publishing always
