name: Release

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

    - run: uv build

    - name: Verify wheel install
      run: |
        uv venv .venv-install-whl
        source .venv-install-whl/bin/activate
        uv pip install dist/*.whl

    - name: Verify source install
      run: |
        uv venv .venv-install-tar
        source .venv-install-tar/bin/activate
        uv pip install dist/*.tar.gz

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
      with:
        name: dist
        path: |
          dist/*.tar.gz
          dist/*.whl

    - run: uvx twine check dist/*
    - run: uvx pydistcheck --inspect dist/*
    - run: uvx pyroma dist/*.tar.gz
    - run: uvx check-wheel-contents dist/*.whl
    - run: uvx check-manifest -v

    - if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/')
      run: uv publish --trusted-publishing always
