name: Tests

on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * 0

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'

    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      PYTHONUNBUFFERED: 1

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}

    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        cache-suffix: ${{ matrix.python-version }}

    - name: Django 5.1.x Test
      run: |
        uvx tox -e "py${PYTHON_VERSION/\./}-django51"
      if: ${{ env.PYTHON_VERSION == '3.10' || env.PYTHON_VERSION == '3.11' || env.PYTHON_VERSION == '3.12' || env.PYTHON_VERSION == '3.13' }}

    - name: Django 5.2.x Test
      run: |
        uvx tox -e "py${PYTHON_VERSION/\./}-django52"
      if: ${{ env.PYTHON_VERSION == '3.10' || env.PYTHON_VERSION == '3.11' || env.PYTHON_VERSION == '3.12' || env.PYTHON_VERSION == '3.13' || env.PYTHON_VERSION == '3.14'}}

    - name: Django main Test
      run: |
        uvx tox -e "py${PYTHON_VERSION/\./}-djangomain"
      if: ${{ env.PYTHON_VERSION == '3.12' || env.PYTHON_VERSION == '3.13' || env.PYTHON_VERSION == '3.14' }}

    - name: social-core master Test
      run: |
        uvx tox -e "py${PYTHON_VERSION/\./}-socialmaster"
      if: ${{ env.PYTHON_VERSION == '3.10' || env.PYTHON_VERSION == '3.11' || env.PYTHON_VERSION == '3.13' || env.PYTHON_VERSION == '3.14' }}

    - name: Coverage
      run: |
        uvx coverage combine
        uvx coverage xml

    - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        flags: unittests
        name: Python ${{ matrix.python-version }}
        token: ${{secrets.CODECOV_TOKEN}}
